*{
  margin: 0;
}

Header{
  display:flex;
  justify-content: flex-start;
  align-items: center;
}
header{
height: 50px;
width: 100%;
background-color: #AB2A19;
color:whitesmoke;


}
.logo{
  padding: 0 10px;
  padding-left: 60px;
  height: 40px;
  width: 40px;
}


/* ------------------------ */

.main{
  height: 650px;
  width: 100%;

  display: flex;
}
.product-lineup{
  width:60%;
  display: flex;
  flex-direction: column;
  margin-top:30px;
  align-items: flex-end;
}
.tab{
  width:500px;
  height: 150px;
  background-color: #D34735;
  box-sizing: border-box;
  display:flex;
  border-radius: 6px;
  margin-top: 20px;
  margin-right: 50px;
}
.tab img{
  height: 90%;
  width: 60%;
}
.product-description{
  display: flex;
  width:40%;
  height: 80%;
  flex-direction: column;
  align-items: flex-start;
margin:15px;
}
.product-description div{
  height: 70px;
  width:100%;
  box-sizing: border-box;
}

.create-product-side{
width:40%;
display: flex;
flex-direction: column;
align-items: flex-start;
}

.create-product-box{ /* change to fixed*/
  height:350px;
  width: 300px;
  padding: 20px ;
  margin-top: 50px;
  margin-left: 40px;
  background-color: #3AD886;
  border-radius: 6px;
}
.create-product-box img{
  height: 50%;
  width: 70%;

}
.button-container{
  height: 50px;
  font-size: 5px;
  width:100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.button-container button{
  height:30px;
  border-radius: 6px;
  background-color: #3AD886;
}